<section class="w3l-specification-6">
    <div class="specification-layout editContent">
        <div class="container-fluid">
            <div class="row text-left img-grids">
                <div class="col-lg-6 p-0">
                    <div class="images-right">
                        <div class="p-md-5 p-3">
                            <h4><a href="#">İstanbul</a></h4>
                            <p>İstanbul, benzersiz kültürel mirası, tarihi dokusu ve büyüleyici manzaralarıyla dünyanın en etkileyici şehirlerinden biridir. </p>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6 p-0">
                    <div class="four-grids">
                        <div class="images-text">
                            <div class="ser-bg1">
                                <div class="p-md-5 p-3">
                                    <h4><a href="#">İzmir</a></h4>
                                    <p>İzmir, huzurlu sahil şeridi, tarihi kalıntıları ve canlı atmosferiyle Ege'nin incisi olarak bilinir.</p>

                                </div>
                            </div>
                        </div>
                        <div class="images-text">
                            <div class="ser-bg4">
                                <div class="p-md-5 p-3">
                                    <h4><a href="#url">Bursa</a></h4>
                                    <p>Bursa, tarihi dokusu, doğal güzellikleri ve Osmanlı mirasının izlerini taşıyan büyüleyici şehirlerden biridir.</p>

                                </div>
                            </div>
                        </div>
                        <div class="images-text">
                            <div class="ser-bg2">
                                <div class="p-md-5 p-3">
                                    <h4><a href="#url">Uşak</a></h4>
                                    <p>Uşak, zengin kültürel geçmişi, doğal güzellikleri ve termal kaynaklarıyla keşfedilmeyi bekleyen bir şehirdir.</p>
                                </div>
                            </div>
                        </div>
                        <div class="images-text">
                            <div class="ser-bg3">
                                <div class="p-md-5 p-3">
                                    <h4><a href="#url">Adana</a></h4>
                                    <p>Adana, sıcak iklimi, lezzetli mutfağı ve tarihi mirasıyla Türkiye'nin en canlı ve enerjik şehirlerinden biridir.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
