<section class="w3l-clients" id="client">
    <div class="call-w3">
        <div class="container text-center">
            <div class="title-head">
                <h3>Her anınızda yanınızdayız</h3>
                <p style="color:white">Siz nereye gideceğinize karar verin gerisini bize bırakın.Sizin mükemmel bir tatil yapabilmeniz için uzman ekibimizle yanınızdayız.Tek yapmanız gereken valizinizi alıp rotanızı belirlemek.</p>
                <a class="btn btn-theme2 mt-lg-5 mt-4" href="/Services/Index/">Hizmet Detayları</a>
            </div>

        </div>
    </div>
</section>
