﻿
<link href="~/Templates/go-trip-starter/assets/css/style-starter.css" rel="stylesheet" />
<section class="w3l-recent-work-hobbies" id="services">
    <div class="recent-work editContent">
        <div class="container">
            <div class="row service-service">

                <div class="col-lg-4 col-md-6 propClone about-line-top ">
                    <div class="color-white editContent">
                        <div class="icon-back"><span class="fa fa-bus"></span></div>

                        <h5><a href="#url" class="editContent">Kara Ulaşımı</a></h5>
                        <p class="para editContent">
                            Kişi tercihine göre otobüs tercid edilebilir.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 propClone about-line-top ">
                    <div class="color-white editContent">
                        <div class="icon-back"><span class="fa fa-plane"></span></div>

                        <h5>
                            <a href="#url" class="editContent">
                                Hava İle Ulaşım
                            </a>
                        </h5>
                        <p class="para editContent">
                            Hava yolu ile mesafesi fazla olan yerlere ulaşım sağlanmaktadır.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 propClone about-line-top ">
                    <div class="color-white editContent">
                        <div class="icon-back">   <span class="fa fa-random"></span></div>

                        <h5>
                            <a href="#url" class="editContent">
                                Rehber
                            </a>
                        </h5>
                        <p class="para editContent">
                            Rehber hizmeti ile güveniilir rehberler ile bölgeyi hem tanıyacaksınız.
                            Gezerken çok eğleneceksiniz.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 propClone about-line-top ">
                    <div class="color-white editContent">
                        <div class="icon-back">  <span class="fa fa-handshake-o"></span></div>

                        <h5><a href="#url" class="editContent">Müşteri Memnuniyeti</a></h5>
                        <p class="para editContent">
                            Müşteri memnuniyeti bizim için en önemlisidir. %99 müşteri memnuniyeti oranımız vardır.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 propClone about-line-top ">
                    <div class="color-white editContent">
                        <div class="icon-back"><span class="fa fa-hotel"></span></div>
                        <h5><a href="#url" class="editContent">Konaklama </a></h5>
                        <p class="para editContent">
                            Anlaşmalı olduğumuz otellerde,pansiyonlarda konaklama imkanınız mevcuttur.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 propClone about-line-top ">
                    <div class="color-white editContent">
                        <div class="icon-back"> <span class="fa fa-calculator"></span></div>

                        <h5><a href="#url" class="editContent">Seyehat Sigortası</a></h5>
                        <p class="para editContent">
                            Seyehat sigortası ile olumsuz durumlarda daha güvenilir şekilde seyehat edebileceksiniz.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>