@model List<CasgemTravel.DAL.Entities.Guide>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
    int count = 0;
}

<h2>Rehber İşlemleri</h2>

<table class="table table-content">
    <tr>
        <th>#</th>
        <th>Rehber Adı</th>
        <th>Unvan</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>

            <td>@count</td>
            <td>@item.GuideName</td>
            <td>@item.GuideTitle</td>
            <td><a href="/AdminGuide/DeleteGuide/@item.GuideID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/AdminGuide/UpdateGuide/@item.GuideID" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>

