<section class="w3l-recent-work">
    <div class="jst-two-col">
        <div class="container">
            <div class="row">
                <div class="my-bio cwp4-text col-lg-6">
                    <h3>Maldivler</h3>
                    <h3>Maldivler ya da resmî adıyla Maldivler Cumhuriyeti, Hint Okyanusu'nda 1.200 adadan oluşan bir devlettir. Hindistan'ın güneyinde ve Sri Lanka'nın yaklaşık 750 kilometre güneybatısında yer alır. Küresel iklim değişiklikleri yüzünden yüz yıl içerisinde sular altında kalacağı öngörülmektedir. </h3>
                    <p class="para mt-3 mb-lg-4 "> </p>
                    <a href="/Contact/Index/" class="action-button btn mt-4">İletişim</a>
                </div>
                <div class="col-lg-6 ">
                    <img src="~/Templates/go-trip-starter/assets/images/b3.jpg" alt="product" class="img-responsive about-me">
                </div>
            </div>
        </div>
    </div>
</section>
